Repository dietza/FitLit, pull requests merged in 2020-12, with the labels that each got.

#23 Feature/sleep class
  src/Hydration.js
  src/Sleep.js
  test/Hydration-test.js
  test/Sleep-test.js
Labels: Sleep class, enhancement, testing

#30 Feature/activity class
  src/Activity.js
  test/Activity-test.js
Labels: Activity, enhancement, testing

#32 Add method to display latest date from data set
  src/Activity.js
  src/Hydration.js
  src/Sleep.js
  src/User.js
  src/UserRepository.js
  test/Activity-test.js
  test/UserRepository-test.js
Labels: Activity, display, enhancement

#31 Feature/structure and style
  src/index.html
  src/styles.css
Labels: display, setup

#37 Feature/query selectors and display
  src/Hydration.js
  src/User.js
  src/index.html
  src/scripts.js
  src/styles.css
Labels: display

#40 Feature/list function
  src/Hydration.js
  src/index.html
  src/scripts.js
  src/styles.css
Labels: display, enhancement, refactor

#42 Feature/styling themes
  src/index.html
  src/scripts.js
  src/styles.css
Labels: display, enhancement

#43 Refactor/class methods
  src/Activity.js
  src/Hydration.js
  src/Sleep.js
  test/Activity-test.js
  test/Hydration-test.js
  test/Sleep-test.js
Labels: Activity, Hydration class, Sleep class, refactor

#44 Feature/dom display
  src/assets/FitLit-heart.png
  src/assets/FitLit.arrow-cutout.png
  src/assets/FitLit.hydro-cutout.png
  src/assets/FitLit.moon-cutout.png
  src/assets/FitLit.running-cutout.png
  src/index.html
  src/scripts.js
  src/styles.css
Labels: Activity, Hydration class, Sleep class, User class, UserRepository, bug, display, enhancement, refactor

#45 Refactor/further class methods
  src/Activity.js
  src/Hydration.js
  src/Sleep.js
  test/Hydration-test.js
  test/Sleep-test.js
Labels: Activity, Hydration class, Sleep class, refactor

#46 Feature/readme.md
  README.md
Labels: documentation

#48 Refactor/DOM-updates
  src/Activity.js
  src/Hydration.js
  src/Sleep.js
  src/index.html
  src/scripts.js
  src/styles.css
Labels: Activity, Hydration class, Sleep class, display, refactor
